.divider {
  width: 0.3rem;
  min-height: 30rem;
  background-color: rgba(var(--font-r), var(--font-g), var(--font-b), 0.5);
  margin: 3rem 0;
}


.container {
  padding: 2rem 0;
}

.branch {
  width: 150px;
}