.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.site-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.site-container::-webkit-scrollbar {
  display: none;
}