.backdrop-container {
  position: relative;
}

.backdrop {
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
}

.midnight {
  height: 300px;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url('/assets/moon.png') no-repeat top left;
  animation: moon 5s ease-in-out forwards;
}

.sunrise {
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.sunrise__gradient {
  height: 100%;
  width: 100%;
}

.sunrise__gradient__overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, orange 100%);
  animation: sunrise 5s ease-in-out forwards;
}

.sunset {
  height: 300px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.sunset__gradient {
  height: 100%;
  width: 100%;
}

.sunset__gradient__overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(248, 226, 149) 100%);
  animation: sunset 10s ease-in-out forwards;
}

.midday {
  height: 300px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.midday__gradient {
  height: 100%;
  width: 100%;
}

.midday__gradient__overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(232, 207, 145) 100%);
  animation: midday 5s ease-in-out forwards;
}

@keyframes midday {
  0% {
    transform: translateX(1600px) translateY(0) rotate(225deg)
  }
  100% {
    transform: translateX(1100px) translateY(0) rotate(225deg)
  }
  
}

@keyframes sunset {
  0% {
    transform: translateX(0) translateY(10px);
  }
  100% {
    transform: translateX(0) translateY(500px);
  }
}

@keyframes sunrise {
  0% {
    transform: translateX(0) translateY(500px);
  }
  100% {
    transform: translateX(0) translateY(10px);
  }
}

@keyframes moon {
  0% {
    transform: translateX(500px) translateY(0) rotate(20deg);
  }
  100% {
    transform: translateX(0) translateY(200px) rotate(5deg);
  }
}